In [1]:
# 9.3 Text-file Processing

# 9.3.1 9.3.1 Writing to a Text File: Introducing the with Statement

with open('accounts.txt', mode='w') as accounts:
    accounts.write('100 Jones 24.98\n')
    accounts.write('200 Doe 345.67\n')
    accounts.write('300 White 0.00\n')
    accounts.write('400 Stone -42.16\n')
    accounts.write('500 Rich 224.62\n')

In [2]:
# 9.3.1 Self-Check 3: Create a grades.txt file and write to it the following three records consisting of student IDs, last names and letter grades:
# 1 Red A
# 2 Green B
# 3 White A

with open('grades.txt', mode='w') as grades:
    grades.write('1 Red A\n')
    grades.write('2 Green B\n')
    grades.write('3 White A\n')

In [5]:
# 9.3.2 Reading Data from a text file

with open('accounts.txt', mode='r') as accounts:
    print(f'{"Account":<10}{"Name":<10}{"Balance":>10}')
    for record in accounts:
        account, name, balance = record.split()
        print(f'{account:<10}{name:<10}{balance:>10}')

Account   Name         Balance
100       Jones          24.98
200       Doe           345.67
300       White           0.00
400       Stone         -42.16
500       Rich          224.62

In [10]:
# 9.3.2 Self-Check 3:Read the file grades.txt that you created in the previous sectionâ€™s Self Check and display
# it in columns with the column heads 'ID', 'Name' and 'Grade'.

with open('grades.txt', mode='r') as grades:
    print(f'{"ID":<10}{"Name":<10}{"Grade":<10}')
    for record in grades:
        stud_id, name, grade = record.split()
        print(f'{stud_id:<10}{name:<10}{grade:<10}')

ID        Name      Grade
1         Red       A
2         Green     B
3         White     A

In [4]:
# 9.4 Updating Text Files

accounts = open('accounts.txt', 'r')

temp_file = open('temp_file.txt', 'w')

with accounts, temp_file:
    for record in accounts:
        account, name, balance = record.split()
        if account != '300':
            temp_file.write(record)
        else:
            new_record = ' '.join([account, 'Williams', balance])
            temp_file.write(new_record + '\n')

# os Module File_Processing Functions

import os

os.remove('accounts.txt')

os.rename('temp_file.txt', 'accounts.txt')

In [6]:
# 9.4 Self-Check 3: In the accounts.txt file, update the last name 'Doe' to 'Smith'.

import os

accounts = open('accounts.txt', 'r')

temp_file = open('temp_file.txt', 'w')

with accounts, temp_file:
    for record in accounts:
        account, name, balance = record.split()
        if account != '200':
            temp_file.write(record)
        else:
            new_record = ' '.join([account, 'Smith', balance])
            temp_file.write(new_record + '\n')

os.remove('accounts.txt')
os.rename('temp_file.txt', 'accounts.txt')

In [12]:
# 9.5 Serialization with JSON

# Pthon Standard Library Module json

accounts_dict = {'accounts':[
    {'account': 100, 'name': 'Jones', 'balance':24.98},
    {'account': 200, 'name': 'Doe', 'balance': 345.67}]}

# Serializing an Object to JSON

import json

with open('accounts.json', 'w') as accounts:
    json.dump(accounts_dict, accounts)

# Deserializing the JSON Text

with open('accounts.json', 'r') as accounts:
    accounts_json = json.load(accounts)
    
print(accounts_json['accounts'])
print(accounts_json['accounts'][0])
print(accounts_json['accounts'][1])

# Displaying the JSON Text

with open('accounts.json', 'r') as accounts:
    print(json.dumps(json.load(accounts), indent=4))

[{'account': 100, 'name': 'Jones', 'balance': 24.98}, {'account': 200, 'name': 'Doe', 'balance': 345.67}]
{'account': 100, 'name': 'Jones', 'balance': 24.98}
{'account': 200, 'name': 'Doe', 'balance': 345.67}
{
    "accounts": [
        {
            "account": 100,
            "name": "Jones",
            "balance": 24.98
        },
        {
            "account": 200,
            "name": "Doe",
            "balance": 345.67
        }
    ]
}

In [14]:
# 9.5 Self-Check 3: Create a JSON file named grades.json and write into it the following dictionary:

grades_dict = {'gradebook':
    [{'student_id': 1, 'name': 'Red', 'grade': 'A'},
     {'student_id': 2, 'name': 'Green', 'grade': 'B'},
     {'student_id': 3, 'name': 'White', 'grade': 'A'}]}

import json

with open('grades.json', 'w') as grades:
    grades_json = json.dump(grades_dict, grades)
    
with open('grades.json', 'r') as grades:
    print(json.dumps(json.load(grades), indent=4))

{
    "gradebook": [
        {
            "student_id": 1,
            "name": "Red",
            "grade": "A"
        },
        {
            "student_id": 2,
            "name": "Green",
            "grade": "B"
        },
        {
            "student_id": 3,
            "name": "White",
            "grade": "A"
        }
    ]
}

In [15]:
# 9.8 Handling Exceptions

# 9.8.2 try Statements

"""Simple exception handling example."""

while True:
    # attempt to convert and divide values
    try:
        number1 = int(input('Enter numerator: '))
        number2 = int(input('Enter denominator: '))
        result = number1 / number2
    except ValueError: # tried to convert non-numeric value to int
        print('You must enter two integers\n')
    except ZeroDivisionError: # denominator was 0
        print('Attempted to divide by zero\n')
    else: # exectues only if no exceptions occur
        print(f'{number1:.3f} / {number2:.3f} = {result:.3f}')
        break  # terminates the loop

Enter numerator:  5
Enter denominator:  stack

You must enter two integers

Enter numerator:  5
Enter denominator:  0

Attempted to divide by zero

Enter numerator:  5
Enter denominator:  10

5.000 / 10.000 = 0.500

In [20]:
# 9.8 Self-Check 3: Before executing the IPython session, determine what the following function 
# displays if you call it with the value 10.7 then the value 'Python'?

def try_it(value):
    try:
        x = int(value)
    except ValueError:
        print(f'{value} could not be converted to an integer')
    else:
        print(f'int({value}) is {int(value)}')
        
# 10.7 would display 'int(10.7) is 10'
# 'Python' would display 'int(Python) could not be converted to an integer'

print(try_it(10.7))
print(try_it('Python'))

int(10.7) is 10
None
Python could not be converted to an integer
None

In [29]:
# 9.9 finally Clause

try:
    print('try suite with no exceptions raised')
except:
    print('this will not execute')
else:
    print('else executes because no exceptions in the try suite')
finally:
    print('finally always executes')
    
try:
    print('try suite that raises an exception')
    int('hello')
    print('this will not execute')
except ValueError:
    print('a ValueError occurred')
else:
    print('else will not execute because an exception occurred')
finally:
    print('finally always executes')
    
# Combining with Statements and try...except Statements

try:
    with open('gradez.txt', 'r') as accounts:
        print(f'{"ID":<3}{"Name":<7}{"Grade"}')
        for record in accounts:
            student_id, name, grade = record.split()
            print(f'{student_id:<3}{name:<7}{grade}')
except FileNotFoundError:
    print('The file name you specified does not exist')

try suite with no exceptions raised
else executes because no exceptions in the try suite
finally always executes
try suite that raises an exception
a ValueError occurred
finally always executes
The file name you specified does not exist

In [30]:
# 9.9 Self-Check 3: Before executing the IPython session, determine what the following function displays 
# if you call it with the value 10.7, then the value 'Python'?

def try_it(value):
    try:
        x = int(value)
    except ValueError:
        print(f'{value} could not be converted to an integer')
    else:
        print(f'int({value}) is {int(value)}')
    finally:
        print('finally executed')
        
# 10.7 will display 'int(10.7) is 10\nfinally executed'
# 'Python' will display 'Python could not be converted to an integer\nfinally executed'

print(try_it(10.7))
print(try_it('Python'))

int(10.7) is 10
finally executed
None
Python could not be converted to an integer
finally executed
None

In [35]:
# 9.12 Intro to Data Science: Working with CSV Files

# 9.12.1 Python Standard Library Module csv
# Writing to a CSV File

import csv

with open('accounts.csv', mode='w', newline='') as accounts:
    writer = csv.writer(accounts)
    writer.writerow([100, 'Jones', 24.98])
    writer.writerow([200, 'Doe', 345.67])
    writer.writerow([300, 'White', 0.00])
    writer.writerow([400, 'Stone', -42.16])
    writer.writerow([500, 'Rich', 224.62])

# Reading From a CSV File

with open('accounts.csv', 'r', newline='') as accounts:
    print(f'{"Account":<10}{"Name":<10}{"Balance":>10}')
    reader = csv.reader(accounts)
    for record in reader:
        account, name, balance = record
        print(f'{account:<10}{name:<10}{balance:>10}')

Account   Name         Balance
100       Jones          24.98
200       Doe           345.67
300       White            0.0
400       Stone         -42.16
500       Rich          224.62

In [36]:
# 9.12.1 Self-Check 3: Create a text file named grades.csv and write to it the following three records 
# consisting of student IDs, last names and letter grades:
# 1,Red,A
# 2,Green,B
# 3,White,A

import csv

with open('grades.csv', mode='w', newline='') as grades:
    writer = csv.writer(grades)
    writer.writerow([1, 'Red', 'A'])
    writer.writerow([2, 'Green', 'B'])
    writer.writerow([3, 'White', 'A'])

In [38]:
# 9.12.2 Reading CSV Files into Pandas DataFrames

# Working with Locally Stored CSV Files

import pandas as pd

df = pd.read_csv('accounts.csv', names=['account', 'name', 'balance'])

print(df)

df.to_csv('accounts_from_dataframe.csv', index=False)

   account   name  balance
0      100  Jones    24.98
1      200    Doe   345.67
2      300  White     0.00
3      400  Stone   -42.16
4      500   Rich   224.62

In [2]:
# 9.12.3 Reading the Titanic Disaster Dataset

import pandas as pd

titanic = pd.read_csv('https://vincentarelbundock.github.io/Rdatasets/csv/carData/TitanicSurvival.csv')

pd.set_option('precision', 2)  # format for floating-point values

print(titanic.head())
print(titanic.tail())

titanic.columns = ['name', 'survived', 'sex', 'age', 'class']

print(titanic.head())

# 9.12.4 Simple Data Analysis with the Titanic Disaster Database

print(titanic.describe())
print((titanic.survived == 'yes').describe())

# 9.12.5 Passenger Age Histogram

%matplotlib

histogram = titanic.hist()

                        Unnamed: 0 survived     sex    age passengerClass
0    Allen, Miss. Elisabeth Walton      yes  female  29.00            1st
1   Allison, Master. Hudson Trevor      yes    male   0.92            1st
2     Allison, Miss. Helen Loraine       no  female   2.00            1st
3  Allison, Mr. Hudson Joshua Crei       no    male  30.00            1st
4  Allison, Mrs. Hudson J C (Bessi       no  female  25.00            1st
                     Unnamed: 0 survived     sex   age passengerClass
1304       Zabour, Miss. Hileni       no  female  14.5            3rd
1305      Zabour, Miss. Thamine       no  female   NaN            3rd
1306  Zakarian, Mr. Mapriededer       no    male  26.5            3rd
1307        Zakarian, Mr. Ortin       no    male  27.0            3rd
1308         Zimmerman, Mr. Leo       no    male  29.0            3rd
                              name survived     sex    age class
0    Allen, Miss. Elisabeth Walton      yes  female  29.00   1st
1   Allison, Master. Hudson Trevor      yes    male   0.92   1st
2     Allison, Miss. Helen Loraine       no  female   2.00   1st
3  Allison, Mr. Hudson Joshua Crei       no    male  30.00   1st
4  Allison, Mrs. Hudson J C (Bessi       no  female  25.00   1st
           age
count  1046.00
mean     29.88
std      14.41
min       0.17
25%      21.00
50%      28.00
75%      39.00
max      80.00
count      1309
unique        2
top       False
freq        809
Name: survived, dtype: object
Using matplotlib backend: QtAgg

In [3]:
# 9.12 Self-Check 2: Load the grades.csv file you created in the Section 9.12.1â€™s Self Check into a DataFrame, then display it.

import pandas as pd

df = pd.read_csv('grades.csv', names=['Student ID', 'Name', 'Grade'])

print(df)

   Student ID   Name Grade
0           1    Red     A
1           2  Green     B
2           3  White     A